
<div class="col-sm-12 col-md-6 col-12">
    <div class="card border-light mb-3" id="cardevento" style="max-width: 19rem; margin: 0 auto">

        <div class="card-header">
            <h5><b><center>{{ dados.nome }}</center></b></h5></div>
      <div class="card-body">
          <p class="card-text">{{ dados.descricao }}</p>
          <p class="card-text">Valor: R$ {{ dados.preco }}</p>
          <div class="row">
              <div class="col-md-6">
                  <a href="#" class="card-link" style="color: #000"><b>Detalhes da compra</b></a>
              </div>
              <div class="col-md-6">
                  <a href="{% url 'checkout:create_cartitem' dados.slug %}" class="card -link" style="color: #000"><b>Adicionar ao carrinho</b></a>
              </div>
          </div>

      </div>
    </div>
</div>

