{% extends "base.html" %}

{% block title %}
    Inscrições | {{ block.super }}
{% endblock%}


{% block container %}
    <section class="container">
        <div id="inscricoes">
            <h2><b>Inscrições</b></h2>
            <hr>
        </div>
        <div class="row">
            {% for dados in lista_inscricoes %}
            {% include "produtos/_inscricao.html" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
$(function(){
    $('.card-link').on('click', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('href'),
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
                alert(data.message);
            }
        });
    });
});
</script>
{% endblock %}