{% extends "menu.html" %}

{% load widget_tweaks %}

{% block title %}
Carrinho de Compras
{% endblock %}

{% block container %}
<section class="container conta">
<nav aria-label="container breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core_home' %}">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Carrinho de compras</li>
    <!--<li class="breadcrumb-item"><a href="#">Carrinho de compras</a></li>-->
    <!--<li class="breadcrumb-item active" aria-current="page">Data</li>-->
  </ol>
</nav>
    {% block messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}
<div class="page-header dados">
    <h3>Carrinho de Compras</h3>
    <hr>
</div>
<div class="row dados">
    <div class="col-md-12 col-md-offset-2">
        <form class="" action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-bordered">
                <thead>
                    <th>CÓD</th>
                    <th>Inscrição</th>
                    <th>Preço</th>
                    <th style="width: 10%;">Quantidade</th>
                    <th style="width: 24%;"></th>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>{{ form.instance.inscricao.pk }}</td>
                        <td>{{ form.instance.inscricao }}</td>
                        <td>R$ {{ form.instance.price|floatformat:"2" }}</td>
                        <td>{% render_field form.quantity class='form-control' %} </td>
                        <td>
                            <a href="{% url 'produtos:inscricao' %}" class="btn btn-info">Realizar Inscrição</a>
                            <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger">remover</button>
                            {{ form.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-right">
                <a href="{% url 'produtos:lista_inscricoes' %}" class="btn btn-info">Continuar Compras</a>
                <button type="submit" class="btn btn-info" name="button">Atualizar Carrinho</button></li>
                <a href="{% url 'checkout:checkout' %}" class="btn btn-info">Finalizar Compra</a>
                <!--<a href="{% url 'produtos:inscricao' %}" class="btn btn-success">Realizar Inscrição</a>-->
            </p>
        </form>
    </div>
</div>
    <div style="margin-top:200px;"></div>
</section>
{% endblock %}
